{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block css %}{% endblock %}
</head>
<body>
    <div class="nav">
        <div class="nav__logo">
            Pandemic Legacy Tracker
        </div>
        <div class="nav__links">
            {% if request.user.is_active %}
                <a href="{% url 'game:campaigns' %}" class="nav__link">{{ request.user.username }}</a>
            {% endif %}

            <a href="{% url 'game:about' %}" class="nav__link">About</a>

            {% if request.user.is_active %}
                <a href="{% url 'game:logout' %}" class="nav__link">Logout</a>
            {% endif %}


        </div>
    </div>

    {% block content %}{% endblock %}
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}" />

{#    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>#}
    <script src="{% static 'angular.js' %}"></script>
    <script src="{%  static 'game/js/campaign.service.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>