{% extends "./base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'game/css/home.css' %}" />
{% endblock %}

{% block content %}
    <div class="home">
        <div class="home__title">Pandemic Legacy Tracker</div>
        <div class="home__description">Predict the next city to be breakout in your game</div>
        <a href="{% url 'game:campaigns' %}" class="button">Get Started</a>
        <a class="home__about" href="http://paularmer.me">&copy; Paul Armer 2017</a>
    </div>
{% endblock %}