{% extends "./base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'game/css/manage.css' %}" />
{% endblock %}
{% block js %}
    <script src="{% static 'game/modal/modal.directive.js' %}"></script>
    <script src="{% static 'game/text-input-with-label/text-input-with-label.directive.js' %}"></script>
    <script src="{% static 'game/js/city-row.directive.js' %}"></script>
    <script src="{% static 'game/js/manage-cities.controller.js' %}"></script>
{% endblock %}

{% block content %}
    <div ng-controller="ManageCitiesController as manageCtrl" ng-init="manageCtrl.init({{ season }})">
        <h1>Manage Cities</h1>

        <div class="create-city">
            <h3 class="create-city__title">Add a city to the grid:</h3>
            <form class="create-city__form"
                  ng-submit="manageCtrl.addCity()">
                <input class="create-city__form__input --number"
                       type="number" placeholder="Number" ng-model="manageCtrl.newCityFrequency" />
                <input class="create-city__form__input"
                       type="text" placeholder="City name" ng-model="manageCtrl.newCityName" />
                <select class="create-city__form__input --color"
                        ng-model="manageCtrl.newCityColor">
                    <option value="">-- Color --</option>
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                    <option value="black">Black</option>
                    <option value="yellow">Yellow</option>
                </select>

                <button class="button" type="submit">Add</button>
            </form>
        </div>

        <div class="city-list">
            <city-row
                ng-repeat="city in manageCtrl.cities"
                city="city"
                season="manageCtrl.season"
                editable="true"
                ></city-row>
        </div>
    </div>
{% endblock %}
