{% extends "./base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'game/css/pick-campaign.css' %}" />
{% endblock %}

{% block content %}
    <h1>My Campaigns</h1>
    <div class="season-picker">
        {% for season, campaign in campaigns.items %}
            <a class="season-picker__season"
                href="{% url 'game:play_campaign' season_id=season %}">
                <img class="season-picker__season__image"
                     src="/static/game/img/season-{{ season }}.png"/>
                <div class="season-picker__season__title">
                    Season&nbsp;{{ season }}
                </div>
                <div class="season-picker__season__meta">
                    {% if campaign is None %}
                        Start Campaign
                    {% else %}
                        Started {{ campaign.date_created|date:"j M Y" }}
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
