{% extends "./base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'game/css/play.css' %}" />
{% endblock %}
{% block js %}
    <script src="{% static 'game/modal/modal.directive.js' %}"></script>
    <script src="{% static 'game/text-input-with-label/text-input-with-label.directive.js' %}"></script>
    <script src="{% static 'game/js/city-row.directive.js' %}"></script>
    <script src="{% static 'game/js/game.controller.js' %}"></script>
{% endblock %}

{% block content %}
    <div ng-controller="GameController as gameCtrl" ng-init="gameCtrl.startGame({{ campaign.id }})">

        <div class="infection-level">
            <div class="infection-level__title">Infection Level</div>
            <div class="infection-level__amounts">
                <div ng-repeat="value in gameCtrl.INFECTION_AMOUNTS track by $index"
                     class="infection-level__amounts__value"
                     ng-class="{'current': $index === gameCtrl.infectionLevel}"
                     ng-bind="value"></div>
            </div>
        </div>

        <div class="game">
            {# Discard Pile #}
            <div class="game__column">
                <button class="button" ng-click="gameCtrl.openEpidemicModal()">Trigger Epidemic</button>
                <city-row ng-repeat="city in gameCtrl.discardPile" city="city"></city-row>
            </div>

            {# Deck sections #}
            <div class="game__column">
                <text-input-with-label ng-model="gameCtrl.deckSearchInput"
                                       label="Search the deck"></text-input-with-label>

                <div class="deck">
                    <div ng-repeat="deckSection in gameCtrl.deck"
                         class="deck__section">
                        <div ng-show="gameCtrl.predictionsForDeckSection[$index].length > 0"
                             class="deck__section__probabilities">
                            <span ng-repeat="probability in gameCtrl.predictionsForDeckSection[$index] track by $index"
                                  class="deck__section__probabilities__value"
                                  ng-bind="probability"></span>
                        </div>
                        <div ng-hide="gameCtrl.predictionsForDeckSection[$index].length > 0"
                             class="deck__section__dont-worry">
                            Don't worry about these... yet
                        </div>
                        <city-row ng-repeat="city in deckSection | filter:gameCtrl.deckSearchInput" city="city"
                                  ng-click="gameCtrl.playCityCard(city)"></city-row>
                    </div>

                </div>
            </div>
        </div>

        {# Epidemic #}
        <modal show="gameCtrl.showEpidemicModal">
            <div class="epidemic">
                <div class="epidemic__close" ng-click="gameCtrl.closeEpidemicModal()">&times;</div>
                <div class="epidemic__title">Epidemic!</div>
                <form ng-submit="gameCtrl.submitEpidemicForm(filteredEpidemicList)">
                    <text-input-with-label css-class="epidemic__search__input"
                                           ng-model="gameCtrl.epidemicSearch"
                                           label="Search for a city"></text-input-with-label>
                    <div class="epidemic__results" ng-show="gameCtrl.epidemicSearch">
                        <city-row ng-repeat="city in gameCtrl.deck[gameCtrl.deck.length - 1] | filter:gameCtrl.epidemicSearch as filteredEpidemicList"
                                  city="city" ng-click="gameCtrl.triggerEpidemic(city)"></city-row>
                    </div>
                </form>
            </div>
        </modal>
    </div>
{% endblock %}
