{% extends "./base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'game/css/play.css' %}" />
{% endblock %}
{% block js %}
    <script src="{% static 'game/modal/modal.directive.js' %}"></script>
    <script src="{% static 'game/text-input-with-label/text-input-with-label.directive.js' %}"></script>
    <script src="{% static 'game/js/city-row.directive.js' %}"></script>
    <script src="{% static 'game/js/game.controller.js' %}"></script>
{% endblock %}

{% block content %}
    <div ng-controller="GameController as gameCtrl" ng-init="gameCtrl.startGame({{ campaign.season }})">

        <div class="game-nav">
            <div>
                <div class="game-nav__title">Infection Level</div>
                <div class="infection-level">
                    <div ng-repeat="value in gameCtrl.INFECTION_AMOUNTS track by $index"
                         class="infection-level__value"
                         ng-class="{'current': $index === gameCtrl.infectionLevel}"
                         ng-bind="value"></div>
                </div>
            </div>
            <div class="game-nav__actions">
                <div class="game-nav__title">Season <span ng-bind="gameCtrl.season"></span></div>

                <a class="button button--small" href="#">Edit Cities</a>
                <a class="button button--small" ng-click="gameCtrl.resetGame()">Reset Game</a>
            </div>
        </div>

        <div class="game">
            {# Discard Pile #}
            <div class="game__column">
                <button class="button button--danger" ng-click="gameCtrl.openEpidemicModal()">Trigger Epidemic</button>
                <city-row ng-repeat="city in gameCtrl.discardPile" city="city"></city-row>
            </div>

            {# Deck sections #}
            <div class="game__column">
                <text-input-with-label ng-model="gameCtrl.deckSearchInput"
                                       label="Search the deck"></text-input-with-label>

                <div class="deck">
                    <div ng-repeat="deckSection in gameCtrl.deck"
                         class="deck__section">
                        <city-row ng-repeat="city in deckSection | filter:gameCtrl.deckSearchInput"
                                  city="city"
                                  probabilities="gameCtrl.getProbabilitiesForDeckSectionAndFrequency($parent.$index, city.frequency)"
                                  ng-click="gameCtrl.playCityCard(city)"></city-row>
                    </div>

                </div>
            </div>
        </div>

        {# Epidemic #}
        <modal show="gameCtrl.showEpidemicModal">
            <div class="epidemic">
                <div class="epidemic__close" ng-click="gameCtrl.closeEpidemicModal()">&times;</div>
                <div class="epidemic__title">Epidemic!</div>
                <form ng-submit="gameCtrl.submitEpidemicForm(filteredEpidemicList)">
                    <text-input-with-label css-class="epidemic__search__input"
                                           ng-model="gameCtrl.epidemicSearch"
                                           label="Search for a city"></text-input-with-label>
                    <div class="epidemic__results" ng-show="gameCtrl.epidemicSearch">
                        <city-row ng-repeat="city in gameCtrl.deck[gameCtrl.deck.length - 1] | filter:gameCtrl.epidemicSearch as filteredEpidemicList"
                                  city="city" ng-click="gameCtrl.triggerEpidemic(city)"></city-row>
                    </div>
                </form>
            </div>
        </modal>
    </div>
{% endblock %}
