@import "variables";
@import "css3";

.button {
    $button-bg: $color-city-red;

    background: rgba($button-bg, 0.75);
    border: 0.15em solid rgba($button-bg, 0.75);
    color: white;
    display: block;
    outline: none;
    font-size: 1.15rem;
    padding: 1em 4em;
    text-align: center;
    margin-bottom: 1.5em;
    position: relative;
    max-width: 25rem;
    line-height: 1;
    width: 100%;
    z-index: 0;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    @include transition($properties: background border);

    &:before {
        $dash-height: 0.35em;
        @include skewed-dashes($dash-height);
        top: 0;
    }

    &:hover {
        background: rgba($button-bg, 0.9);

    }
}