@import "variables";
@import "css3";
@import "fonts";

.button {
    @mixin button-colors($bg-color, $dashes-color) {
        background: rgba($bg-color, 0.75);

        &:before, &:after {
            $dash-height: 0.35em;
            @include skewed-dashes($dash-height, $dashes-color);
        }

        &:hover {
            background: rgba($bg-color, 0.9);
        }
    }

    @include button-colors($color-city-yellow, mix($color-city-black, $color-city-yellow, 65%));
    color: white;
    display: inline-block;
    border-radius: 0.25em;
    outline: none;
    border: none;
    font-size: 1.15rem;
    padding: 1em 4em;
    text-align: center;
    margin-bottom: 1.5em;
    position: relative;
    max-width: 25rem;
    line-height: 1;
    width: 100%;
    z-index: 0;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    font-family: $font-family-header;
    letter-spacing: 0.05em;
    @include transition($properties: background border);

    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }

    &.button--danger {
        @include button-colors($color-city-red, $color-city-yellow);
    }
}

