@import "css3";

@mixin card($clickable: false, $card-color: #fff, $opacity: 0.2) {
    background: rgba($card-color, $opacity);
    padding: 1.5em;
    border-radius: 0.5em;
    border: 0.1em solid rgba($card-color, $opacity * 2);
}