@font-face {
    font-family: Optia;
    src: url("/static/game/fonts/optia-bold-cond.otf") format("opentype");
}

$font-family-header: Optia;
$font-family-body: "PT Sans Narrow"; // TODO ADD THIS FONT TO THE APP
