@import "font-awesome/font-awesome";

$color-city-red: #de2848;
$color-city-blue: #3a7eff;
$color-city-black: #333333;
$color-city-yellow: #ffc419;
$color-city-faded: #91e86e;

@mixin font-awesome($icon) {
  @include fa-icon();
  content: $icon;
}

$hydrocarbon-height: 150px;

$font-weight-bold: 700;