@import "font-awesome/font-awesome";

$color-city-red: #cc3717;
$color-city-blue: #3a7eff;
$color-city-black: #333333;
$color-city-yellow: #ffc419;
$color-city-faded: #34c317;
$color-white: #fff;

@mixin font-awesome($icon) {
  @include fa-icon();
  content: $icon;
}

$hydrocarbon-height: 150px;

$font-weight-bold: 700;

@mixin skewed-dashes($border-width, $dash-color: $color-city-yellow) {
  content: '';
  position: absolute;
  left: -$border-width;
  width: calc(100% + 2 * #{$border-width});
  height: $border-width;
  border-top: $border-width dashed $dash-color;
  opacity: 0.7;
  transform: skew(-30deg);
}