@import "base";

.home {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .home__title {
        font-size: 4rem;
        font-family: $font-family-header;
        color: white;
        margin-bottom: 0.25em;
    }

    .home__description {
        font-size: 1.75rem;
        color: rgba($color-white, 0.85);
        margin-bottom: 1em;
    }

    .home__about {
        position: absolute;
        bottom: 1em;
        opacity: 0.75;
    }
}
