@import "base";
@import "card";
@import "directives/city-row";
@import "../text-input-with-label/text-input-with-label";
@import "../modal/modal";

$post-epidemic-delay: 0.3s;

.game-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;

    .game-nav__title {
        color: $color-white;
        font-family: $font-family-body;
        letter-spacing: 0.1em;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }
}

.infection-level {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .infection-level__value {
        margin-right: 0.6rem;
        text-align: center;
        background: rgba(#fff, 0.2);
        width: 2em;
        height: 2em;
        line-height: 1.7em;
        border-radius: 1em;
        color: rgba(#fff, 0.4);
        border: 0.1rem solid;
        font-family: $font-family-header;
        font-size: 0.8rem;
        @include transition(
            $properties: background width height color,
            $delay: $post-epidemic-delay,
            $duration: 0.5s);

        &.current {
            background: rgba($color-city-yellow, 0.5);
            border-color: rgba($color-city-yellow, 0.85);
            color: white;
            font-size: 1.2rem;
        }
    }
}

.game {
    display: flex;
    flex-direction: row;

    .game__column {
        padding: 1rem 2rem;
    }
}

.deck {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 50vw;

    .deck__section {
        $deck-section-padding: 1.5rem;
        @include card();
        padding: $deck-section-padding;
        margin-right: 1.5rem;
        overflow: hidden;

        @include animation(
            $fill-mode: both,
            $duration: 0.75s,
            $delay: $post-epidemic-delay,
            $name: sectionEntrance)
        {
            from { max-width: 0; opacity: 0; margin-right: 0; }
            to { max-width: 21em; }
        }
    }
}


.epidemic {
    $epidemic-max-width: 40rem;
    $epidemic-border-width: 1rem;

    @include card($card-color: $color-city-red, $opacity: 0.5);
    padding: (2rem + 2 * $epidemic-border-width) 0;
    text-align: center;
    overflow: hidden;
    position: relative;

    &:before, &:after {
        @include skewed-dashes(1em);
    }

    &:before {
        top: $epidemic-border-width;
    }

    &:after {
        bottom: $epidemic-border-width;
        top: auto;
    }

    .text-input {
        margin: auto;
    }

    .epidemic__close {
        position: absolute;
        top: 2 * $epidemic-border-width;
        right: 2rem;
        font-size: 3rem;
        cursor: pointer;
        opacity: 0.5;
        color: white;
        @include transition($properties: opacity);

        &:before {
            content: "";
            position: fixed;
            display: block;
            height: 100vh;
            width: 100vw;
            background: transparent;
        }

        &:hover {
            opacity: 0.75;
        }
    }

    .epidemic__title {
        color: white;
        font-size: 3rem;
        margin-bottom: 1.5rem;
        width: 100%;
        font-family: $font-family-header;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    .epidemic__results {
        @include card();
        margin: 1rem 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}