@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Fjalla One', sans-serif;
}
