@import "../variables";
@import "../css3";

.city-row {
    $city-row-height: 4.5em;
    $city-row-border-radius: 0.25em;
    $city-row-border-width: 0.1em;
    $city-row-side-padding: 0.75em;

    display: flex;
    flex-direction: column;
    font-size: 1rem;
    border-radius: $city-row-border-radius;
    margin-bottom: 0.5em;
    cursor: pointer;
    letter-spacing: 0.1em;
    width: 17em;
    text-transform: uppercase;
    overflow: hidden;
    border: 0.2em solid transparent;
    background: currentColor;
    @include transition($properties: border background);

    &:hover {
        background: currentColor;
    }

    .city-row__text {
        padding: 0.5em $city-row-side-padding;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.15rem;
        color: white;
        @include transition($properties: background);
    }

    .city-row__icon {
        font-size: inherit;
        margin-right: 0.65em;
        color: white;
        text-align: center;

        &:before {
            @include font-awesome($fa-var-bug);
        }
    }

    .city-row__name {
        font-size: inherit;
        flex-grow: 1;
    }

    .city-row__input {
        flex-grow: 1;
        font-size: inherit;
        margin-left: 0.5em;
        margin-right: 0.5em;

        input {
            width: 100%;
            text-transform: uppercase;
            font-size: inherit;
            border: none;
            margin: 0;
            padding: 0.1em 0.5em;
        }

        &.--short {
            flex-basis: 3.5em;
            margin-left: 0;
            margin-right: 0;

            input {
                text-align: right;
            }
        }
    }

    .city-row__button {
        $city-button-color: $color-white;

        background: none;
        border: none;
        font-size: inherit;
        cursor: pointer;
        color: $city-button-color;

        &:hover {
            color: darken($city-button-color, 10%);
        }

        &:before {
            color: inherit;
            @include transition($properties: color);
        }

        @mixin city-button($icon-var, $hover-color) {
            &:before {
                @include font-awesome($icon-var);
            }

            &:hover {
                color: mix($hover-color, $city-button-color, 75%);
            }
        }

        &.--save {
            @include city-button($fa-var-check, $color-city-faded);
        }

        &.--cancel {
            @include city-button($fa-var-undo, $color-city-red);
        }

        &.--edit {
            @include city-button($fa-var-edit, $color-city-black);
        }

        &.--delete {
            @include city-button($fa-var-trash, $color-city-black);
        }
    }

    .city-row__probabilities {
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        @include transition($properties: background);

        .city-row__probabilities__percent {
            text-align: right;
            line-height: 1rem;

            $max-probabilities: 4;
            @for $i from 1 to $max-probabilities {
                &:nth-child(#{$i}) {
                    $percent-line-height: 1 - 0.15 * ($i - 1);

                    padding: (0.6em / $percent-line-height) $city-row-side-padding;
                    background: rgba(0, 0, 0, $i * 0.075);
                    font-size: $percent-line-height * 1rem;
                    color: rgba($color-white, 1 - $i * 0.15);
                    flex: ($max-probabilities - $i) 0;
                }
            }
        }
    }

    @mixin city-row-color($color) {
        $opacity-base: 0.75;
        $opacity-hover: 1;

        color: rgba($color, 0.7);

        .city-row__icon:before {
            @include font-awesome($fa-var-map-marker);
        }

        &:hover {
            color: rgba($color, 0.95);
        }

        &:not(.VIEW) {
            background: #CCC;
            border-color: currentColor;
        }
    }

    &.r { @include city-row-color($color-city-red); }
    &.u { @include city-row-color($color-city-blue); }
    &.b { @include city-row-color($color-city-black); }
    &.y { @include city-row-color($color-city-yellow); }
}